{% extends '@App/base.html.twig' %}

{% block body %}
<div id="wrapper" class="inner_page about_us"><!--Wrapper Start-->
    <div id="page_title">
        <div class="container text-center">
            <div class="panel-heading">About Us</div>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">About Us</li>
            </ol>
        </div>
    </div>
    <!--page_title Section End-->

    <!--page content Section Satrt-->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 about_l"> <img src="/bundles/app/images/about/desk.png"  alt="desk" /> </div>
                <div class="col-md-6 col-sm-6">
                    <p>Top Place To Find Home Pros. Top Place for Home Pros To Work. dichvunhacua.com is the operator of the largest home services marketplace across the Vietnam, providing homeowners the tools and resources for home repair, maintenance and improvement projects. dichvunhacua.com's marketplace lets homeowners view average project costs using True Cost Guide, find local prescreened home professionals and instantly book appointments online.</p>
                </div>
            </div>
        </div>
    </div>

    {{ render(controller("AppBundle:Default:statisticNumber")) }}


    <!--Testimonails Section Satrt-->
    <section id="testimonails">
        <div class="container text-center">
            <h1 class="panel-heading">Testimonails</h1>
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel "> <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center">
                            <div class="item active">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/clinte1.png" alt="clinte1" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                            <div class="item">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/testimonails2.png" alt="clinte2" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                            <div class="item">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/testimonails3.png" alt="clinte3" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                        </div>
                        <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span> </a> </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonails Section End-->
</div>
    <!--page content Section End-->
{% endblock %}
