<!--Service Provider Satrt-->
<section id="service_provider">
    <div class="container text-center">
        <h1 class="panel-heading">Popular Locations</h1>
        <div class="row">
            <!--counter box-->
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="counter_box">
                    <div class="counter_number_right">
                        <div class="counter_number counter">
                            <span class="stat-count">{{ statistic['viet-nam'] }}</span>
                            <span style="font-size: small;font-weight: normal;">listings</span>
                        </div>
                        <h4 class="counter_name"><img src="bundles/app/images/icons/vietnam_white.png" width="40"/> VIET NAM</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="counter_box">
                    <div class="counter_number_right">
                        <div class="counter_number counter">
                            <span class="stat-count">{{ statistic['ha-noi'] }}</span>
                            <span style="font-size: small;font-weight: normal;">listings</span>
                        </div>
                        <h4 class="counter_name"><img src="bundles/app/images/icons/hanoi_white.png" width="40"/> HA NOI</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="counter_box">
                    <div class="counter_number_right">
                        <div class="counter_number counter">
                            <span class="stat-count">{{ statistic['da-nang'] }}</span>
                            <span style="font-size: small;font-weight: normal;">listings</span>
                        </div>
                        <h4 class="counter_name"><img src="bundles/app/images/icons/danang_white.png" width="40"/> DA NANG</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="counter_box">
                    <div class="counter_number_right">
                        <div class="counter_number counter">
                            <span class="stat-count">{{ statistic['ho-chi-minh'] }}</span>
                            <span style="font-size: small;font-weight: normal;">listings</span>
                        </div>
                        <h4 class="counter_name"><img src="bundles/app/images/icons/saigon_white.png" width="40"/> HO CHI MINH</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Service Provider Satrt End-->
