{% extends '@App/base.html.twig' %}

{% block body %}
<div id="wrapper" class="inner_page about_us"><!--Wrapper Start-->
    <div id="page_title">
        <div class="container text-center">
            <div class="panel-heading">Service</div>
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">Service</li>
            </ol>
        </div>
    </div>
    <!--page_title Section End-->

    <!--Service Page Start-->
    <section id="service_page">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/cleaning.png" class="img-circle htw" alt="cleaning" /></a>
                    <h4><a href="service_detail.html">Cleaning</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/electrical.png" class="img-circle htw" alt="electrical" /></a>
                    <h4><a href="service_detail.html">Electrical</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"><a href="service_detail.html"> <img src="/bundles/app/images/service/plumbing.png" class="img-circle htw" alt="plumbing" /></a>
                    <h4><a href="service_detail.html">Plumbing</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/appliances.png" class="img-circle htw" alt="appliances" /></a>
                    <h4><a href="service_detail.html">Appliances</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"><a href="service_detail.html"> <img src="/bundles/app/images/service/carpentry.png" class="img-circle htw" alt="carpentry" /></a>
                    <h4><a href="service_detail.html">Carpentry</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/geyser.png" class="img-circle htw" alt="geyser" /></a>
                    <h4><a href="service_detail.html">Garden</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/vehicle.png" class="img-circle htw" alt="vehicle" /></a>
                    <h4><a href="service_detail.html">Car repair</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/pest.png" class="img-circle htw" alt="pest" /></a>
                    <h4><a href="service_detail.html">Pest Control</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="/bundles/app/images/service/painting.png"  class="img-circle htw" alt="painting" /></a>
                    <h4><a href="service_detail.html">Painting</a></h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's typesetting industry.</p>
                </div>
            </div>
        </div>
    </section>
    <!--Service Page End-->


    <!--Service Provider Satrt-->
    {{ render(controller("AppBundle:Default:statisticNumber")) }}
    <!--/Service Provider Satrt End-->

    <!--Testimonails Section Satrt-->
    <section id="testimonails">
        <div class="container text-center">
            <h1 class="panel-heading">Testimonails</h1>
            <div class="row">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel "> <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center">
                            <div class="item active">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/clinte1.png" alt="clinte1" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                            <div class="item">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/testimonails2.png" alt="clinte2" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                            <div class="item">
                                <div class="avatar"><img class="img-circle" src="bundles/app/images/testimonails3.png" alt="clinte3" /></div>
                                <h3>Kevin Austin</h3>
                                <strong>Lorem Ipsum</strong>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
                            </div>
                        </div>
                        <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span> </a> </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonails Section End-->
</div>
    <!--page content Section End-->
{% endblock %}
